extends layout

block content
  h1 Hijrat-e-Shabaka
  h2 Nova-Neutron Migration
  div(id="login", class = "test")
    h3 Please enter credentials below
    br
    form(name="input", action= "add", method="post")
      key Username
      br  
      input(type="text",id="user", name="user")
      br
      key Tenant
      br  
      input(type="text",id="tenant", name="tenant")
      br
      key Password
      br  
      input(type="password",id="pswd", name="pswd")
      br
      key IP
      br
      input(type="text",id="ip", name="ip")
      br  
      input(type="submit", value="Submit")
      br
